.envr
.coverage
coverage.xml
test_june/unit/results/
.DS_Store
test_june/results/
.idea/
data
*__pycache__*
*.ipynb_checkpoints*
*.pyc
*.ipynb
*.csv
*.pkl
*.egg-info
.env
cookie
data.zip
__MACOSX
*.log
*.hdf5
box_results/
build/
dist/
*.prof
*.dat
*.svg
