.envr
.coverage
coverage.xml
test_june/unit/results/
.DS_Store
test_june/results/
.idea/
data
*__pycache__*
*.ipynb_checkpoints*
*.pyc
*.csv
*.pkl
*.egg-info
.env
cookie
data.zip
__MACOSX
*.log
*.hdf5
box_results/
build/
dist/
*.prof
*.svg
test_results
.venv
**/tester_*
**/results/**

post_checkpoint_results/
pre_checkpoint_results
