appnope==0.1.0
attrs==19.3.0
backcall==0.1.0
click==7.1.1
click-plugins==1.1.1
cligj==0.5.0
cycler==0.10.0
Cython==0.29.16
decorator==4.4.2
descartes==1.1.0
Fiona==1.8.13.post1
geopandas==0.7.0
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
jupyter-client==6.1.0
jupyter-core==4.6.3
kiwisolver==1.1.0
matplotlib==3.2.1
munch==2.5.0
numpy==1.18.2
pandas==1.0.3
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.4
ptyprocess==0.6.0
Pygments==2.6.1
pyparsing==2.4.6
pyproj==2.6.0
pyshp==2.1.0
python-dateutil==2.8.1
pytz==2019.3
pyzmq==19.0.0
Shapely==1.7.0
six==1.14.0
tornado==6.0.4
tqdm==4.43.0
traitlets==4.3.3
wcwidth==0.1.9
