astroid==2.4.1
attrs==19.3.0
isort==4.3.21
joblib==0.14.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.2.0
numpy==1.18.4
packaging==20.3
pandas==1.0.3
pluggy==0.13.1
py==1.8.1
pylint==2.5.2
pyparsing==2.4.7
pytest==5.4.2
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
scikit-learn==0.23.0
scipy==1.4.1
six==1.14.0
threadpoolctl==2.0.0
toml==0.10.0
tqdm==4.46.0
wcwidth==0.1.9
wrapt==1.12.1
pytest==2.8.1
