title: Covid configuration example

activity_to_groups:
  primary_activity: ['schools', 'companies', "universities"]
  leisure: ['pubs', 'cinemas', 'groceries', "care_home_visits", "household_visits"] 
  residence: ['households', 'care_homes']
  commute: ['commuteunits', 'commutecityunits']

time:
  total_days: 250
  initial_day: "2020-03-01" 
  step_duration: 
      weekday:
          0: 1 
          1: 8
          2: 1
          3: 3
          4: 11
      weekend:
          0: 4 
          1: 4 
          2: 4 
          3: 12 
  step_activities:
      weekday:
          0: ['hospital', 'commute', 'residence'] 
          1: ['hospital', 'primary_activity', 'leisure', 'residence'] 
          2: ['hospital', 'commute', 'residence'] 
          3: ['hospital', 'leisure', 'residence']
          4: ['hospital', 'residence']
      weekend:
          0: ['hospital', 'leisure', 'residence']
          1: ['hospital', 'leisure', 'residence']
          2: ['hospital', 'leisure', 'residence']
          3: ['hospital', 'residence']

