title: Covid configuration example

logger:
  save_path: results

time:
  total_days: 10
  step_duration: 
      weekday:
          1: 12 
          2: 12
      weekend:
          1: 24
  step_active_groups:
      weekday:
          1: ['hospitals', 'schools', 'companies', 'carehomes', 'households'] # active groups during first time step
          2: ['hospitals', 'carehomes', 'households']
      weekend:
          1: ['hospitals','carehomes', 'households']
          2: ['hospitals','carehomes', 'households'] 

